.circle {
    fill: none;
    /* stroke: #7C83FD; */
    stroke-width: 8;
    stroke-linecap: round;
    transition: all 1s;
    transform: rotate(-90deg);
    transform-origin: center;
}
.text {
    font-size: 2em;
    dominant-baseline: middle;
    text-anchor: middle;
}
.svg {
    width: 100%;
    height: auto;
}